<a href="https://colab.research.google.com/github/SShadab13/IDP/blob/main/blood_matching1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
blood_type_table = {
        'A+': ['A+', 'A-', 'O+', 'O-'],
        'A-': ['A-', 'O-'],
        'B+': ['B+', 'B-', 'O+', 'O-'],
        'B-': ['B-', 'O-'],
        'AB+': ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-'],
        'AB-': ['A-', 'B-', 'AB-', 'O-'],
        'O+': ['O+', 'O-'],
        'O-': ['O-']
    }
grps = ['A+', 'A-', 'B+', 'B-', 'AB+', 'AB-', 'O+', 'O-']

In [ ]:
blood_grp = []
family_grp = []
state = []

In [ ]:
for i in range(500):
  x = random.randint(0, 7)
  blood_grp.append(grps[x])
  y = random.randint(0, 6) # maybe 5
  f_grp = []
  for j in range(y):
    z = random.randint(0, len(blood_type_table[grps[x]])-1)
    f_grp.append(blood_type_table[grps[x]][z])
  family_grp.append(f_grp)
  if(len(f_grp)==0):
    state.append('cadaver')
  elif(grps[x] in f_grp):
    state.append('family')
  else:
    state.append('swap')

In [ ]:
data = {'Blood_grp': blood_grp,
        'Family_grp': family_grp,
        'state': state}

df = pd.DataFrame(data)

df

    Blood_grp                   Family_grp    state
0          O-                           []  cadaver
1         AB+                [B-, AB+, B-]   family
2          B-                           []  cadaver
3          A+             [O+, O-, A-, O+]     swap
4          A+                 [A-, A+, O-]   family
..        ...                          ...      ...
495       AB+  [AB-, A-, AB+, B-, AB-, O+]   family
496        B-                 [B-, O-, O-]   family
497       AB+             [A-, O+, B-, A-]     swap
498        O-     [O-, O-, O-, O-, O-, O-]   family
499        A+                 [A-, O+, A-]     swap

[500 rows x 3 columns]

In [ ]:
df = df.sample(frac=1)

csv_data = df.to_csv('Blood_matching_dataset.csv', index = False)

In [ ]:
import shutil
shutil.move('Blood_matching_dataset.csv', '/content/drive/MyDrive/files_to_upload_jivandeep/Blood_matching_dataset.csv')

'/content/drive/MyDrive/files_to_upload_jivandeep/Blood_matching_dataset.csv'